.warper {
  position: relative;

  &:not(:last-child) {
    &::after {
      content: "";
      position: absolute;
      border: 1px #dcdcdcdc solid;
      height: calc(100% + 10px);
      left: -13px;
      top: 15px;
      z-index: -1;
    }
  }
  .container {
    font-weight: 400;
    font-size: 14px;
    padding: 1%;
    display: flex;
    flex-direction: row;
    background-color: #f0f0f0;
    margin-top: 10px;
    align-items: center;
    border-radius: 4px;
    text-align: left;
    &:first-child {
      &::after {
        content: "";
        position: absolute;
        border: 1px #dcdcdcdc solid;
        height: 25px;
        left: -13px;
        top: -10px;
        z-index: 10;
      }
    }
    &::before {
      content: "";
      position: absolute;
      border: 1px #dcdcdcdc solid;
      width: 12px;
      left: -13px;
      z-index: -1;
    }
    .checkBoxWarper {
      display: flex;
      position: relative;
      img {
        align-self: center;
      }
      .checkIcon {
        height: 15px;
        position: absolute;
        left: 6px;
        &:hover {
          cursor: pointer;
        }
      }
      .squareText {
        position: absolute;
        top: 1px;
        left: 8px;
        color: #ffffff;
        user-select: none;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .caretIcon {
      position: absolute;
      height: 20px;
      margin-right: 14px;
      user-select: none;
      transform: rotate(-180deg);
      left: -25px;
      &:hover {
        cursor: pointer;
      }
    }

    .code {
      width: 85px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .description {
      width: 321px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
  .children {
    margin-left: 30px;
  }
}
.rotate {
  transform: rotate(-90deg) !important;
  top: 1px;
}
